Library/*
Temp/*
BackupFiles/*
obj/*
ShareImages/*
ProfilerDatas/*
.idea/*
.vs/*
Logs/*
Debug/*
/License.txt
/user.keystore
*.csproj
Assets/NCat/*
Assets/NCat.meta
Assets/AddressableAssetsData/*
Assets/AddressableAssetsData.meta